

<div class="wrap">
    <div class="primaria">
        
      <div>
        <ul class="playlist">
          <li>
            <div class="track">

             <span class='controls' id='playToggle'></span> 
             <span class='title'>Aldo</span>
             <span class='minus'>-</span>
             <span id='timeleft'>3:17</span>
      
              
            </div>
            <audio>
              <source src="audio/mum.mp3" type="audio/mp3" />
              <source src="audio/mum.ogg" type="audio/ogg" />
              Your browser does not support the <code>audio</code> element.
            </audio>
          </li>
        </ul>
      </div>
      
    </div>
    <div class="secundaria">
      <div class="rep">
        <video class="video" id="medio" autobuffer autoloop loop controls>
          <source src="/media/video.oga">
          <source src="/media/video.m4v">
          <object type="video/ogg" data="/media/video.oga" width="320" height="240">
          <param name="src" value="/media/video.oga">
          <param name="autoplay" value="false">
          <param name="autoStart" value="0">
          </object>
        </video>
      </div>
    </div>
    <div class="terciaria">
      <div class="publicidad">
        <ul>
          <li><img [src]="mm.png" />Master Music corporación 100% Argentina</li>
          <li> <img [src]="master"></li>
          <li><img ng-src="spotify.jpg" /></li>
        </ul>
      </div>

    </div>
    <div class="social">
          <ul>
            <li><a href="https://www.facebook.com/mastermusicteam/" target="_blank" class="icon-facebook"></a></li>
            <li><a href="#" target="_blank" class="icon-twitter"></a></li>
            <li><a href="#" target="_blank" class="icon-instagram"></a></li>
            <li><a href="#" target="_blank" class="icon-youtube"></a></li>
            <li><a href="#" target="_blank" class="icon-spotify"></a></li>
          </ul>
        </div>

  </div>
